<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Small_N_Stats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Small_N_Stats.Properties.Settings>
            <setting name="MainHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ResultHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ResultWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ResultTop" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ResultLeft" serializeAs="String">
                <value>400</value>
            </setting>
        </Small_N_Stats.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>